<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysc.device.service.repository.UserInfoMapper">

  <resultMap id="BaseResultMap" type="com.ysc.device.service.domain.entities.UserEntity">
    <id column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="pen_name" jdbcType="VARCHAR" property="penName" />
    <result column="signature" jdbcType="VARCHAR" property="signature" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="qq_openId" jdbcType="VARCHAR" property="qqOpenId" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="wechat_openId" jdbcType="VARCHAR" property="wechatOpenId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="auth_type" jdbcType="TINYINT" property="authType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="reg_ip" jdbcType="VARCHAR" property="regIp" />
    <result column="reg_time" jdbcType="VARCHAR" property="regTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
  </resultMap>



  <select id="findPasswordByPhone" parameterType="java.lang.String" resultType="java.lang.String">
    select
    password
    from t_user
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>

  <select id="findUserByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from t_user
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>

  <select id="findUserByQqOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from t_user
    where qq_openId = #{qqOpenId,jdbcType=VARCHAR}
  </select>

  <select id="findUserByWeChatOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    *
    from t_user
    where wechat_openId = #{wechatOpenId,jdbcType=VARCHAR}
  </select>

  <select id="findUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
--       user_uuid,
--       mobile,
--       password,
--       nick_name,
--       pen_name,
--       signature,
--       image_url,
--       qq,
--       qq_openId,
--       wechat,
--       wechat_openId,
--       email,
--       real_name,
--       auth_type,
--       create_time,
--       update_time,
--       reg_ip,
--       reg_time,
--       status,
--       sex
    *
    from t_user
    where user_uuid = #{userUuid,jdbcType=VARCHAR}
  </select>

  <!--新增用户-->
  <insert id="insertUser" parameterType="com.ysc.device.service.domain.entities.UserEntity" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userUuid != null">
        user_uuid,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="penName != null">
        pen_name,
      </if>
      <if test="signature != null">
        signature,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="qqOpenId != null">
        qq_openId,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="wechatOpenId != null">
        wechat_openId,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="authType != null">
        auth_type,
      </if>
      <if test="regIp != null">
        reg_ip,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sex != null">
        sex,
      </if>
      create_time,
      update_time,

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userUuid != null">
        #{userUuid},
      </if>
      <if test="mobile != null">
        #{mobile},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="nickName != null">
        #{nickName},
      </if>
      <if test="penName != null">
        #{penName},
      </if>
      <if test="signature != null">
        #{signature},
      </if>
      <if test="imageUrl != null">
        #{imageUrl},
      </if>
      <if test="qq != null">
        #{qq},
      </if>
      <if test="qqOpenId != null">
        #{qqOpenId},
      </if>
      <if test="wechat != null">
        #{wechat},
      </if>
      <if test="wechatOpenId != null">
        #{wechatOpenId},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="authType != null">
        #{authType},
      </if>
      <if test="regIp != null">
        #{regIp},
      </if>
      <if test="regTime != null">
        #{regTime},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      now(),
      now()
    </trim>
  </insert>

</mapper>